<div class="container">
    
    <h5>{{beer.name}}</h5>
    <img src="{{beer.image_url}}">
    <p>{{beer.tagline}}</p>
    <p>{{beer.description}}</p>
    <p>Food Pairing</p>
    <p>{{beer.food_pairing}}</p>
     <p>Brewers tips</p>
     <p>{{beer.brewers_tips}}</p>
     
</div>